th.table-view-th {
padding: 5px 12px;
border: 10px solid blue;
color: palegoldenrod;

}

td, tr {
border-left: 2px solid DarkGoldenrod;
border-right: 2px solid DarkGoldenrod;
border-bottom: .5px dashed LightYellow;
table-layout: fixed;

}

.cm-html-embed td, .markdown-rendered td, .cm-html-embed th, .markdown-rendered th {
	min-width: 80px;
}