.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator {
	opacity: 1;
}


.collapse-icon svg.svg-icon {
	stroke-width: 2px;
	height: 18px;
	width: 18px;
}

.heading-collapse-indicator .svg-icon, .cm-fold-indicator .collapse-indicator.is-collapsed .svg-icon {
	color: #754f50 !important;
	opacity: .5
}

.heading-collapse-indicator .svg-icon, .cm-fold-indicator .collapse-indicator .svg-icon {
	color: #4d704c !important;
	opacity: .5
}

.inline-title {
  color: IndianRed;
  font-size: 25px
}

.HyperMD-header-1 .cm-header { margin-left: 0px; }
.HyperMD-header-2 .cm-header { margin-left: 20px; }
.HyperMD-header-3 .cm-header { margin-left: 40px; }
.HyperMD-header-4 .cm-header { margin-left: 60px; }
.HyperMD-header-5 .cm-header { margin-left: 80px; }
.HyperMD-header-6 .cm-header { margin-left: 100px; }

.HyperMD-header-1::after, h1 {
    display: block;
    content: "";
    padding-bottom: 0px;  
    border-bottom: 3px solid #5479ff;
    width: 600px;
    margin-left: 0px;
}


.HyperMD-header-2::after, h2 {
    display: block;
    content: "";
    padding-bottom: 2px;  
    border-bottom: 2px solid #6bc1ff;
    width: 580px;
    margin-left: 20px;
}

.HyperMD-header-3::after, h3 {
    display: block;
    content: "";
    padding-bottom: 2px;  
    border-bottom: 1px solid #94edff;
    width: 560px;
    margin-left: 40px;
}

.HyperMD-header-4::after, h4 {
    display: block;
    content: "";
    padding-bottom: 2px;  
    border-bottom: .5px solid #45ffdc;
    width: 540px;
    margin-left: 60px
}


body {
    --h1-color: #5479ff;
    --h2-color: #6bc1ff;
    --h3-color: #94edff;
    --h4-color: #45ffdc;
    --h5-color: var(--color-blue);
    --h6-color: var(--color-purple);
    --h1-font: Times New Roman;
    --h1-size: 20px;
}

