
.metadata-properties-heading {
  display: none;
  
}

.metadata-properties, .metadata-properties *, .metadata-add-button, .metadata-properties-heading {
  font-family: var(--font-monospace);

}

body {

  --metadata-label-background-hover: rgb(47, 50, 50);
  --metadata-label-background-active: DarkSlateGray;
  --metadata-input-background-hover: rgb(47, 50, 50);
  --metadata-input-background-active: DarkSlateGray;
  --metadata-label-background:rgb(10, 10, 10);
  --metadata-input-background:rgb(20, 20, 20);

  --metadata-label-font-weight: 500;
  --metadata-label-text-color: white;
  --metadata-label-font-size: 10px;
  --metadata-input-font-size: 10px;
  --metadata-gap: 2px;
  --metadata-padding: 0px 0px 0px 10px;
  --metadata-label-width: max(22.5%, 8rem);
  --metadata-input-height: calc(var(--metadata-label-font-size) * 2.3);
}

.metadata-property-key .metadata-property-icon {
  --icon-color: DarkOrange;
  --icon-size: 18px;
}

.metadata-container {
  border-bottom: dashed 1.5px IndianRed;